<!DOCTYPE html>
<html>

<head>
    <title>EXML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="description" content="Testing platform for EXML 2024">

</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    </div>
    <div class="gameover" id="gameover">
        <i class="fas fa-times close-icon" id="close-icon"></i>
        <div class="over-header">
            <h1>
                Game Over
                <span>
                    The game has ended
                </span>
            </h1>


        </div>
        <div class="ScoreBoard">
            <div class="Winner row ">
                <span>
                    Winner
                </span>
                <span id="winner" class="blue">
                    No winner
                </span>
            </div>
            <div class="Score row ">
                <span >
                    Player Score
                </span>
                <span id="score" class="blue">
                    0
                </span>
            </div>
        </div>
        <div class="timestamps">
            <h1>
                Timestamps
            </h1>
            <div class="player row">
                <span>
                    Player
                </span>
                <span id="player-timestamp" class="blue">
                    0
                </span>
            </div>
            <div class="ghost row">
                <span>
                    Ghost
                </span>
                <span id="ghost-timestamp" class="blue">
                    0
                </span>
            </div>
        </div>
    </div>
    <div class="gamearea" id="gamearea">
        <div class="gameboard" id="gameboard">
            <canvas id="background" class="canvas-layer" style="z-index: 1;"></canvas>
            <canvas id="walls" class="canvas-layer" style="z-index: 0;"></canvas>
            <canvas id="foreground" class="canvas-layer" style="z-index: 2;"></canvas>
        </div>
        <div class="gamestatus" id="gamestatus">
            <div class="points">
                <h1 class="title">Player points</h1>
                <div id="player-points"></div>

            </div>
            <div class="participants ">
                <div class="sub-header collapsible" id="part-coll">
                    <h1 class="sub-title">Participants</h1>
                    <img src="{{ url_for('static', filename='images/dropdown.png') }}" class="dropdown">
                </div>

                <div class="info coll-content" id="part-content">
                    <div class="player name">
                        <span>
                            Player
                        </span>
                        <span id="player-token" class="namevar">
                            waiting for connection...
                        </span>
                    </div>
                    <div class="ghost name">
                        <span>
                            ghost
                        </span>
                        <span id="ghost-token" class="namevar">
                            waiting for connection...
                        </span>
                    </div>
                    <div>

                    </div>

                </div>
                <div class="Moves">
                    <div class="sub-header collapsible" id="moves-coll">
                        <h1 class="sub-title">Move Status</h1>
                        <img src="{{ url_for('static', filename='images/dropdown.png') }}" class="dropdown">
                    </div>

                    <div class="info coll-content" id="moves-content">
                        <div class="player name">
                            <span>
                                Player
                            </span>
                            <span id="player-dock" class="namevar">
                                No move docked
                            </span>
                        </div>
                        <div class="ghost name">
                            <span>
                                ghost
                            </span>
                            <span id="ghost-dock" class="namevar">
                                No move docked
                            </span>
                        </div>

                    </div>



                </div>
                <div class="Queue">
                    <h1 class="sub-title">
                        Queue Status
                    </h1>
                    <span id="queue-status">
                        You are not in Queue
                    </span>
                </div>


            </div>
            <div class="controls" id="controls">
                <div class="btnrow" id="commands">
                    <button class="reset btn" id="reset">
                        Reset Board
                    </button>
                    <button class="end btn" id="end">
                        End Game
                    </button>
                </div>
                <div class="btnrow" class="input">
                    <input type="text" id="token-input" placeholder="enter token" class="inp">
                    <button class="token btn" id="enter-queue">
                        Enter queue</button>
                </div>
                
                <div class="btnrow" class="input">
                   
    
                     
                     <input type="email" id="email-input" placeholder="Enter your email" class="inp">
                     <button class="token btn" id="get-token">
                         Get Token
                     </button>
                </div>
               
             
        </div>

    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>