<!DOCTYPE html>
<html>

<head>
    <title>EXML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .canvas-layer {
            position: absolute;
            top: 0;
            left: 0;

        }
    </style>
</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    </div>
    <div class="gamearea">
        <div class="gameboard">
            <canvas id="background" class="canvas-layer" style="z-index: 1;"></canvas>
            <canvas id="walls" class="canvas-layer" style="z-index: 0;"></canvas>
            <canvas id="foreground" class="canvas-layer" style="z-index: 2;"></canvas>
        </div>
        <div class="gamestatus">
            <div class="points">
                <h1 class="title">Player points</h1>
                <div id="player-points"></div>

            </div>
            <div class="participants ">
                <div class="sub-header collapsible" id="part-coll">
                    <h1 class="sub-title">Participants</h1>
                    <img src="{{ url_for('static', filename='images/dropdown.png') }}" class="dropdown">
                </div>

                <div class="info coll-content" id="part-content">
                    <div class="player name">
                        <span>
                            Player
                        </span>
                        <span id="player-token" class="namevar">
                            waiting for connection...
                        </span>
                    </div>
                    <div class="ghost name">
                        <span>
                            ghost
                        </span>
                        <span id="ghost-token" class="namevar">
                            waiting for connection...
                        </span>
                    </div>

                </div>
                <div class="Moves">
                    <div class="sub-header collapsible" id="moves-coll">
                        <h1 class="sub-title">Move Status</h1>
                        <img src="{{ url_for('static', filename='images/dropdown.png') }}" class="dropdown">
                    </div>

                    <div class="info coll-content" id="moves-content">
                        <div class="player name">
                            <span>
                                Player
                            </span>
                            <span id="player-dock" class="namevar">
                                No move docked
                            </span>
                        </div>
                        <div class="ghost name">
                            <span>
                                ghost
                            </span>
                            <span id="ghost-dock" class="namevar">
                                No move docked
                            </span>
                        </div>

                    </div>



                </div>


            </div>
           <div class="controls">
                <button class="reset" id="reset">
                    Reset Board
                </button>
           </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>